@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    font-family: 'Oswald', sans-serif;

}


 
  .carousel-content{
    position: absolute;
    left: 0%;
    right: 0%;
  }

  .item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }

  .item-caption{
    color: white;
  }

  .fa-star,.fa-star-half{
    color: rgb(255, 255, 0);
  }

 .positionright{
    position: relative;
    right: -96%;
    top: -50%;
 }
 .positionleft{
    position: relative;
    right: -1%;
    top: -50%;
 }

  @media only screen  and (max-width:767px){
    #widthmax{
        width: 100%;
    }
    
    
  }
  
  @media only screen  and (max-width:991px){

    .positionleft{
      visibility: hidden;
    }
    .positionright
    {
      visibility: hidden;
    }
  }
  
  
    
 